/* ID Styles */

#header {
    color: white;
    text-align: center;
    background-color: rgb(51, 51, 56);
}

#search {
    margin-top: 1%;
    margin-left: 1px;
}

#searchButton {
    height: 39px;
    position: relative; top: 31px;
    position: relative; right: 5px;
}

#currentCity {
    margin-top: 10%;
}

#fiveDay {
    margin-top: 30%;
}

#fiveDay {
    display: none;
    margin-top: 15%;
}

/* Class Styles */

.weather {
    margin-top: 3%;
}

.tempF {
    margin-top: 10%;
}

.humidity {
    margin-top: 5%;
}

.wind {
    margin-top: 5%;
}

.uvIndex {
    margin-top: 5%;
}

