/* ID Styles */

#header {
    color: white;
    text-align: center;
    background-color: rgb(51, 51, 56);
}

#search {
    margin-top: 1%;
    margin-left: 1px;
}

#searchButton {
    height: 39px;
    position: relative; top: 31px;
    position: relative; right: 5px;
}

#currentCity {
    margin-top: -5%;
}

#fiveDay {
    display: none;
    margin-top: 5%;
    margin-left: 53%;
}

#city {
    margin-top: 10%;
}

#tempF {
    margin-top: 3%;
}

#humidity {
    margin-top: 3%;
}

#wind {
    margin-top: 3%;
}

#uvIndex {
    margin-top: 3%;
}

#wicon {
    display: none;
}

.weather {
    height: 50px;
    width: 375px;
    text-align: left;
}

#history {
    margin-top: 5%;
    margin-left: -3.5%;
}

#searchBar {
    background-color: whitesmoke;
}

#cityWeather {
    border-style: ridge;
    display: none;
    margin-left: .1%;
}

.list-group-item.active {
    width: 500px;
    margin-right: 10%;
}